@using FlexHub.BlazorServer.Utilities
<div class="sidebar-container left-side-shadow">
    <div class="profile-container shadow-sm">
        <MatFAB Class="ms-3" Icon="person" Style="background-color: var(--rz-primary) !important;" Mini="true"
                OnClick="@OpenProfileMenu" RefBack="@_profileMenuForwardRef"/>

        @{
            // If the compiler is screaming ignore it it's a bug
            // of visual studio and the project in running fine
        }
        <MatMenu @ref="_profileMenu" TargetForwardRef="@_profileMenuForwardRef">
            <MatList>
                <MatListItem Href="MicrosoftIdentity/Account/SignOut">Logout</MatListItem>
            </MatList>
        </MatMenu>

        <div class="ms-3">
            <p class="mb-0 mt-0">
                @_userGivenName @_userSurname
            </p>
            <p class="mb-0 mt-0">
                @@@_userDisplayName
            </p>
        </div>
    </div>

    <div class="pt-3 contacts-container">
        <div class="text-center px-2">
            <EditForm Model="ContactsSearchModel" OnSubmit="async () => await SearchContactsByName()">
                <MatTextField type="search" @bind-Value="ContactsSearchModel.Name"
                              Label="Search" Icon="search" Outlined="true" Dense="true"/>
            </EditForm>
        </div>

        <div class="pt-2 text-center shadow-sm">
            <MatList @ref="_contactsList" SingleSelection="true">
                @if (Contacts != null && Contacts.Any())
                {
                    <MatListDivider/>
                    @foreach (var contact in Contacts)
                    {
                        <MatListItem @key="contact.ObjectId" OnClick="async () => await OnContactListItemClick(contact)">
                            @contact.DisplayName
                        </MatListItem>
                        <MatListDivider/>
                    }
                }
                else
                {
                    <div class="px-3 mt-3">
                        <p>No contacts found. Go to your profile to add people to your contacts</p>
                    </div>
                }
            </MatList >
        </div>
    </div>
    
    <div class="pt-3 groups-container">
        <div class="text-center px-2">
            <EditForm Model="GroupChatsSearchModel" OnSubmit="async () => await SearchGroupChatsByName()">
                <MatTextField type="search" @bind-Value="GroupChatsSearchModel.Name"
                              Label="Search" Icon="search" Outlined="true" Dense="true"/>
            </EditForm>
        </div>

        <div class="pt-2 text-center shadow-sm">
            @if (Groups != null && Groups.Any())
            {
                <MatList SingleSelection="true" @ref="_groupsList">
                    <MatListDivider />
                    @foreach (var group in Groups)
                    {
                        <MatListItem @key="group" OnClick="async () => { await OnGroupListItemClick(group); }">
                            @group.Title
                        </MatListItem>
                        <MatListDivider />
                    }
                </MatList>

            }
            else
            {
                <div class="px-3 mt-3">
                    <p>No groups found. Go to your profile to create groups</p>
                </div>
            }
        </div>
    </div>
    
    <div class="create-post-container text-center pt-3">
        <MatButton Raised="true" OnClick="async () => await OpenCreateGroupDialog()">Create Group</MatButton>
    </div>
</div>

@code
{
    private string? _userDisplayName;
    private string? _userGivenName;
    private string? _userSurname;

    private MatList _contactsList;
    private MatList _groupsList;

    BaseMatMenu? _profileMenu;
    ForwardRef _profileMenuForwardRef = new();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userDTO = AuthUtilities.CreateUserDtoFromClaims(authState.User.Claims, Logger);

        if (userDTO == null) return;

        _userDisplayName = userDTO.DisplayName;
        _userGivenName = userDTO.GivenName;
        _userSurname = userDTO.Surname;
    }

    public async Task OpenCreateGroupDialog()
    {
        await MatDialogService.OpenAsync(typeof(CreateGroupChatDialog), 
            new MatDialogOptions
            {
                Attributes = new Dictionary<string, object>()
                {
                    { nameof(CreateGroupChatDialog.CreateGroupChatDTO), _createGroupChatDTO },
                    { nameof(CreateGroupChatDialog.CreateGroupChatFunc), new Func<Task>(CreateGroup) }
                },
            });
    }

    public void OpenProfileMenu(MouseEventArgs e)
    {
        _profileMenu?.OpenAsync();
    }
}
