@using FlexHub.BlazorServer.Utilities
<div class="sidebar-container left-side-shadow">
    <div class="profile-container shadow-sm">
        <MatFAB Class="ms-3" Icon="person" Style="background-color: var(--rz-primary) !important;" Mini="true" 
                OnClick="@OpenProfileMenu" RefBack="@_profileMenuForwardRef" />
                    
        @{
            // If the compiler is screaming ignore it it's a bug
            // of visual studio and the project in running fine
        }
        <MatMenu @ref="_profileMenu" TargetForwardRef="@_profileMenuForwardRef">
            <MatList>
                <MatListItem Href="MicrosoftIdentity/Account/SignOut">Logout</MatListItem>
            </MatList>
        </MatMenu>

        <div class="ms-3">
            <p class="mb-0 mt-0">
                @_userGivenName @_userSurname
            </p>
            <p class="mb-0 mt-0">
                @@@_userDisplayName
            </p>
        </div>
    </div>

    <div class="mt-3">
        <div class="text-center px-2">
            <MatTextField type="search" @bind-Value="_contactsSearchText" 
                          Label="Search" Icon="search" Outlined="true" Dense="true" />
        </div>

        <div class="text-center mt-2 shadow-sm">
            <MatList @ref="_contactsList" SingleSelection="true">
                @if (Contacts != null && Contacts.Any())
                {
                    <div class="contacts-container">
                        
                            <MatListDivider/>
                            @foreach (var contact in Contacts)
                            {
                                <MatListItem @key="contact.ObjectId" OnClick="async () => { await OnContactListItemClick(contact); }">
                                    @contact.DisplayName
                                </MatListItem>
                                <MatListDivider/>
                            }
                       
                    </div>
                }
                else
                {
                    <div class="px-3 mt-3">
                        <p>No contacts found. Go to your profile to add people to your contacts</p>
                    </div>
                }
            </MatList >
        </div>
    </div>
    
    <div class="mt-3">
        <div class="text-center px-2">
            <MatTextField type="search" @bind-Value="_groupsSearchText"
                          Label="Search" Icon="search" Outlined="true" Dense="true" />
        </div>

        <div class="text-center shadow-sm">
            @if (Groups != null && Groups.Any())
            {
                <div class="groups-container">
                    <MatList SingleSelection="true" @ref="_groupsList">
                        <MatListDivider />
                        @foreach (var group in Groups)
                        {
                            <MatListItem @key="group.Id" OnClick="async () => { await OnGroupListItemClick(group); }">
                                @group.Title
                            </MatListItem>
                            <MatListDivider />
                        }
                    </MatList>
                </div>
            }
            else
            {
                <div class="px-3 mt-3">
                    <p>No groups found. Go to your profile to create groups</p>
                </div>
            }
        </div>
    </div>
</div>

@code
{
    private string? _userDisplayName;
    private string? _userGivenName;
    private string? _userSurname;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userDTO = AuthUtilities.CreateUserDtoFromClaims(authState.User.Claims, Logger);

        if (userDTO == null) return;

        _userDisplayName = userDTO.DisplayName;
        _userGivenName = userDTO.GivenName;
        _userSurname = userDTO.Surname;
    }

    BaseMatMenu? _profileMenu;
    ForwardRef _profileMenuForwardRef = new();

    public void OpenProfileMenu(MouseEventArgs e)
    {
        _profileMenu?.OpenAsync();
    }
}
