@using Microsoft.AspNetCore.Mvc.Controllers
@using FlexHub.BlazorServer.CustomComponents.InfiniteScrolling

@if (ShowAnimation)
{
    <Animate Animation="Animations.Fade" Auto Duration="TimeSpan.FromMilliseconds(500)">
        <div class="post-container pt-3">
    
            @if (Posts != null && Posts.Any())
            {
                <InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => FetchPosts(PageNum++, 5)">
                    @foreach (var post in Posts)
                    {
                        <div class="mb-5">
                            <MatPaper Class="p-4 shadow" Rounded="true" Style="border-radius: 10px;">
                                <h2 class="fs-3 mt-2">@post.Title</h2>
                                <p class="text-start mt-4">@post.Content</p>

                                <p class="text-start fw-bold mt-3">
                                    <span class="fw-normal">Posted by - </span> @post.PublisherDisplayName
                                </p>

                                <p class="text-start fw-bold mt-1">
                                    <span class="fw-normal">At - </span> @post.CreatedAt
                                </p>

                                <div class="tags-container fst-italic mt-4">
                                    @if (post.Tags != null && post.Tags.Any())
                                    {
                                        <MatChipSet>
                                            @foreach (var tag in post.Tags)
                                            {
                                                <MatChip Label="@tag.Value"></MatChip>
                                            }
                                        </MatChipSet>
                                    }
                                </div>
                            </MatPaper>
                        </div>
                    }
                    <div class="mb-5" id="observerTarget"></div>
                </InfiniteScroll>
            }
        </div>
    </Animate>
}
