@page "/create-post"

<AuthorizeView>
    <Authorized>
        @{
            _userClaims = context.User.Claims.ToArray();
        }

        <div class="page-container">
            <div class="container">
                <EditForm Context="editFormContext" Model="@_post" OnValidSubmit="async () => { await Create(); }">
                    <!-- Validate the model -->
                    <DataAnnotationsValidator/>

                    <div class="page-title-container text-center py-3 mt-4 shadow-sm">
                        <h1>Create Post</h1>
                    </div>

                    <div class="post-container p-4 my-4 shadow-lg">
                        <div>
                            <MatTextField @bind-Value="_post.Title" Label="Title"/>
                        </div>

                        <div class="mt-3">
                            <MatTextField @bind-Value="_post.Content" Label="Message" TextArea="true" 
                                          Style="width: 100%; min-height: 250px;" />
                        </div>
                    </div>

                    <div class="text-center">
                        <MatButton type="submit" Raised="true"
                                   Style="width: 100%; max-width: 500px;">
                            Submit
                        </MatButton>
                    </div>
                    
                    <div class="text-center mt-5">
                        <!-- ShowToastMessage the result of whatever is invalid -->
                        <ValidationSummary/>
                    </div>
                </EditForm>
            </div>

            <div class="right-side-panel left-side-shadow">
                <div class="profile-container shadow-sm">
                    <MatFAB Class="ms-3" Icon="person" Style="background-color: var(--rz-primary) !important;" Mini="true"
                            OnClick="@OpenProfileMenu" RefBack="@_profileMenuForwardRef" />

                    @{
                        // If the compiler is screaming ignore it it's a bug
                        // of visual studio and the project in running fine
                    }
                    <MatMenu @ref="_profileMenu" TargetForwardRef="@_profileMenuForwardRef">
                        <MatList>
                            <MatListItem Href="MicrosoftIdentity/Account/SignOut">Logout</MatListItem>
                        </MatList>
                    </MatMenu>

                    <div class="ms-3">
                        <p class="mb-0 mt-0">@UserInfoStore.UserDTO?.GivenName @UserInfoStore.UserDTO?.Surname</p>
                        <p class="mb-0 mt-0">@@@UserInfoStore.UserDTO?.DisplayName</p>
                    </div>
                </div>

                <div class="tags-container mt-3">
                    @if (_allTags != null && _allTags.Any())
                    {
                        foreach (var tag in _allTags)
                        {
                            <div @key="tag.Id" class="px-3">
                                <MatCheckbox Label="@tag.Value" @bind-Value="@tag.IsChecked" Name="@($"Tag{tag.Id}")"></MatCheckbox>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="px-3 mt-3">
                            <p>Loading...</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <LoginPrompt/>
    </NotAuthorized>
</AuthorizeView>

@code
{
    ForwardRef _profileMenuForwardRef = new();
    BaseMatMenu? _profileMenu;

    public void OpenProfileMenu(MouseEventArgs e)
    {
        _profileMenu?.OpenAsync();
    }
}
